@{
    ViewData["Title"] = "Questions";
}
@model IEnumerable<System.Data.DataRow>

@{
    Layout = null;
}


<div style=" margin-left: auto; margin-right: auto;" class="text-center">
    <h1 class="display-4">Questions</h1>


    @foreach (System.Data.DataRow row in Model)
    {
        <table>
            <tr>
                <td>@row.ItemArray[0].ToString()</td>
                <td>@row.ItemArray[1].ToString()</td>
            </tr>
        </table>
    }
    

</div>